root = true

[*]
end_of_line = lf

[*.java]
indent_style = space
indent_size = 4
max_line_length = 180
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,mcmeta}]
indent_style = space
indent_size = 2

[*.{gradle,gradle.kts,properties}]
indent_style = space
indent_size = 4
